/TP1/DATA/*
/TP1/RLE/*
/TP1/LZ77/*
/TP1/stats.csv
/TP1/__pycache__/*
/TP1/archiedDATA/*
TP1/__pycache__/generator.cpython-38.pyc
TP1/__pycache__/LZ77.cpython-38.pyc
TP1/__pycache__/RLE.cpython-38.pyc
TP1/archivedDATA/-BHOEe45PK4.jpg
TP1/archivedDATA/0VOshuq39T0.jpg
TP1/archivedDATA/41G3Xte5B9s.jpg
TP1/archivedDATA/5S6DMMAN6Ug.jpg
TP1/archivedDATA/6Ry2-0HZXcw.jpg
TP1/archivedDATA/9hqw9Brz8c0.jpg
TP1/archivedDATA/9sDzm4Y5mr8.jpg
TP1/archivedDATA/aErfZjGLPg4.jpg
TP1/archivedDATA/aFPlzy8ZHP4.jpg
TP1/archivedDATA/AJ3RE_uMhrM.jpg
TP1/archivedDATA/aLSr3B6O2EU.jpg
TP1/archivedDATA/Cd6JWY1MY1M.jpg
TP1/archivedDATA/d2q18c2EX8Q.jpg
TP1/archivedDATA/DwRfPtiQypA.jpg
TP1/archivedDATA/dzu59sIIorY.jpg
TP1/archivedDATA/f37OfqT8omk.jpg
TP1/archivedDATA/g0t_FV_-LMM.jpg
TP1/archivedDATA/GkVWxzR6wec.jpg
TP1/archivedDATA/GZiECRbAthY.jpg
TP1/archivedDATA/MZ-BDpo2-c4.jpg
TP1/archivedDATA/nPUBCv7jyI4.jpg
TP1/archivedDATA/O8vXQjX5iyQ.jpg
TP1/archivedDATA/PS_-DwoNUJ4.jpg
TP1/archivedDATA/QI0WlWElQsM.jpg
TP1/archivedDATA/rHNLYDCzuWE.jpg
TP1/archivedDATA/WEqoRYKKp20.jpg
TP1/archivedDATA/WOZPZ3bEqho.jpg
TP1/archivedDATA/XhBxHwYxzKA.jpg
TP1/archivedDATA/zWGJPD5wCAc.jpg
TP1/archivedDATA/zWIWNeEg4Uo.jpg
TP1/__pycache__/generator.cpython-38.pyc
TP1/__pycache__/LZ77.cpython-38.pyc
TP1/__pycache__/RLE.cpython-38.pyc
TP1/__pycache__/generator.cpython-38.pyc
TP1/__pycache__/LZ77.cpython-38.pyc
TP1/__pycache__/RLE.cpython-38.pyc
TP1/__pycache__/LZ77.cpython-38.pyc
TP1/__pycache__/RLE.cpython-38.pyc
TP1/__pycache__/generator.cpython-38.pyc
